<h2>{{ 'labels.games'|trans }} ({{ games|length }})</h2>

{{ filterBox|raw }}

<ul>
{% for game in games %}
  <li>
    <a href="{{ game.link }}">{{ game.name }}</a> <small>({{ 'labels.num-of-scores'|trans({'%count%': game.numScores}) }})</small>
  </li>
{% endfor %}
</ul>
