<h2>{{ game.name }}</h2>
<game>

  {{ 'labels.company'|trans }}: <a href="{{ company.link }}">{{ company.name }}</a>

  {{ scores|raw }}

  <description>
      {{ game.description }}
  </description>

{% if game.links %}
  <links>
    {% for link in game.links %}
      <link>• <a href="{{ link.url }}">{{ link.title }}</a></link>
    {% endfor %}
  </links>
{% endif %}

</game>


