message {
    display: block;
}


filterBox {
    display: none;
}
#filterBoxToggle {
    display: none;
}
#filterBoxToggle:checked ~ filterBox {
    display: block;
}


game links {
    display: block;
}
game link {
    display: block;
}

scores scoreValue {
    display: block;
    text-align: center;
}
scores sources {
    display: block;
    text-align: center;
}
scores source {
    display: block;
}
