<!DOCTYPE html>
<html class="client-nojs" lang="{{ locale }}" dir="ltr">
  <head>
    <meta charset="UTF-8"/>
    <title>STG Hall of Records - Shmups Wiki -- The Digital Library of Shooting Games</title>
    <link rel="stylesheet" href="{{ baseUri }}/assets/css/main.css"/>
    <script>document.documentElement.className="client-js";RLCONF={"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":!1,"wgNamespaceNumber":0,"wgPageName":"STG_Hall_of_Records","wgTitle":"STG Hall of Records","wgCurRevisionId":10267,"wgRevisionId":10267,"wgArticleId":276,"wgIsArticle":!0,"wgIsRedirect":!1,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":[],"wgBreakFrames":!1,"wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgMonthNamesShort":["","Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"wgRelevantPageName":"STG_Hall_of_Records","wgRelevantArticleId":276,"wgRequestId":"YLz7fkq9JxnVu8pf-4YInQAAAAE","wgCSPNonce":!1,"wgIsProbablyEditable":!0,"wgRelevantPageIsProbablyEditable":!0,
      "wgRestrictionEdit":[],"wgRestrictionMove":[]};RLSTATE={"site.styles":"ready","noscript":"ready","user.styles":"ready","user":"ready","user.options":"ready","user.tokens":"loading","mediawiki.legacy.shared":"ready","mediawiki.legacy.commonPrint":"ready","jquery.makeCollapsible.styles":"ready","mediawiki.skinning.interface":"ready","skins.vector.styles":"ready"};RLPAGEMODULES=["site","mediawiki.page.startup","mediawiki.page.ready","jquery.makeCollapsible","mediawiki.searchSuggest","skins.vector.js"];</script>
      <script>(RLQ=window.RLQ||[]).push(function(){mw.loader.implement("user.tokens@tffin",function($,jQuery,require,module){/*@nomin*/mw.user.tokens.set({"editToken":"+\\","patrolToken":"+\\","watchToken":"+\\","csrfToken":"+\\"});
        });});</script>
        <link rel="stylesheet" href="https://shmups.wiki/load.php?lang=en&amp;modules=jquery.makeCollapsible.styles%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.interface%7Cskins.vector.styles&amp;only=styles&amp;skin=vector"/>
        <script async="" src="/load.php?lang=en&amp;modules=startup&amp;only=scripts&amp;raw=1&amp;skin=vector"></script>
        <meta name="ResourceLoaderDynamicStyles" content=""/>
        <link rel="stylesheet" href="https://shmups.wiki/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector"/>
        <meta name="generator" content="MediaWiki 1.34.1"/>
        <link rel="alternate" type="application/x-wiki" title="Edit" href="https://shmups.wiki/index.php?title=STG_Hall_of_Records&amp;action=edit"/>
        <link rel="edit" title="Edit" href="https://shmups.wiki/index.php?title=STG_Hall_of_Records&amp;action=edit"/>
        <link rel="shortcut icon" href="https://shmups.wiki/favicon.ico"/>
        <link rel="search" type="application/opensearchdescription+xml" href="https://shmups.wiki/opensearch_desc.php" title="Shmups Wiki -- The Digital Library of Shooting Games (en)"/>
        <link rel="EditURI" type="application/rsd+xml" href="https://shmups.wiki/api.php?action=rsd"/>
        <link rel="alternate" type="application/atom+xml" title="Shmups Wiki -- The Digital Library of Shooting Games Atom feed" href="https://shmups.wiki/index.php?title=Special:RecentChanges&amp;feed=atom"/>
        <!--[if lt IE 9]><script src="/resources/lib/html5shiv/html5shiv.js"></script><![endif]-->
  </head>
  <body class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject mw-editable page-STG_Hall_of_Records rootpage-STG_Hall_of_Records skin-vector action-view">
    <div id="mw-page-base" class="noprint"></div>
    <div id="mw-head-base" class="noprint"></div>
    <div id="content" class="mw-body" role="main">
      <a id="top"></a>

      <div class="mw-indicators mw-body-content">
      </div>

      <h1 id="firstHeading" class="firstHeading" lang="{{ locale }}">STG Hall of Records</h1>

{{ message|raw }}
      <div id="bodyContent" class="mw-body-content">
	<div id="siteSub" class="noprint">From Shmups Wiki -- The Digital Library of Shooting Games</div>
	<div id="contentSub"></div>


	<div id="jump-to-nav"></div>
	<a class="mw-jump-link" href="#mw-head">Jump to navigation</a>
	<a class="mw-jump-link" href="#p-search">Jump to search</a>
	<div id="mw-content-text" lang="{{ locale }}" dir="ltr" class="mw-content-ltr"><div class="mw-parser-output">
{{ content|raw }}
        </div></div>

	<div class="printfooter">Retrieved from "<a dir="ltr" href="https://shmups.wiki/index.php?title=STG_Hall_of_Records&amp;oldid=10267">https://shmups.wiki/index.php?title=STG_Hall_of_Records&amp;oldid=10267</a>"</div>

	<div id="catlinks" class="catlinks catlinks-allhidden" data-mw="interface"></div>
	<div class="visualClear"></div>

      </div>
    </div>


    <div id="mw-navigation">
      <h2>Navigation menu</h2>
      <div id="mw-head">
	<div id="p-personal" role="navigation" aria-labelledby="p-personal-label">
	  <h3 id="p-personal-label">Personal tools</h3>
	  <ul>
	    <li id="pt-anonuserpage">Not logged in</li><li id="pt-login"><a href="https://shmups.wiki/index.php?title=Special:UserLogin&amp;returnto=STG+Hall+of+Records" title="You are encouraged to log in; however, it is not mandatory [o]" accesskey="o">Log in</a></li>						</ul>
	</div>
      </div>
      <div id="mw-panel">
	<div id="p-logo" role="banner"><a class="mw-wiki-logo" href="https://shmups.wiki/library/Main_Page" title="Visit the main page"></a></div>
	<div class="portal" role="navigation" id="p-navigation" aria-labelledby="p-navigation-label">
	  <h3 id="p-navigation-label">Navigation</h3>
	  <div class="body">
	    <ul>
	      <li><a href="{{ links.index }}">{{ 'labels.home'|trans }}</a></li>
              <li><a href="{{ links.companies }}">{{ 'labels.companies'|trans }}</a></li>
              <li><a href="{{ links.games }}">{{ 'labels.games'|trans }}</a></li>
              <li><a href="{{ links.players }}">{{ 'labels.players'|trans }}</a></li>
            </ul>
	  </div>
	</div>
	<div class="portal" role="navigation" id="p-tb" aria-labelledby="p-tb-label">
	  <h3 id="p-tb-label">{{ 'labels.languages'|trans }}</h3>
	  <div class="body">
	    <ul>
              <li><a href="{{ links.self.en }}">English</a></li>
              <li><a href="{{ links.self.ja }}">日本語</a></li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
    <div id="footer" role="contentinfo">
      <ul id="footer-info">
	<li id="footer-info-lastmod"> This page was last edited on 31 May 2021, at 15:58.</li>
      </ul>
      <ul id="footer-places">
	<li id="footer-places-privacy"><a href="https://shmups.wiki/library/Shmups_Wiki:Privacy_policy" title="Shmups Wiki:Privacy policy">Privacy policy</a></li>
	<li id="footer-places-about"><a href="https://shmups.wiki/library/Shmups_Wiki:About" title="Shmups Wiki:About">About Shmups Wiki -- The Digital Library of Shooting Games</a></li>
	<li id="footer-places-disclaimer"><a href="https://shmups.wiki/library/Shmups_Wiki:General_disclaimer" title="Shmups Wiki:General disclaimer">Disclaimers</a></li>
      </ul>
      <ul id="footer-icons" class="noprint">
	<li id="footer-poweredbyico">
	  <a href="https://www.mediawiki.org/"><img src="/resources/assets/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" srcset="/resources/assets/poweredby_mediawiki_132x47.png 1.5x, /resources/assets/poweredby_mediawiki_176x62.png 2x" width="88" height="31"/></a>					</li>
      </ul>
      <div style="clear: both;"></div>
    </div>


    <script>(RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgPageParseReport":{"limitreport":{"cputime":"0.911","walltime":"0.921","ppvisitednodes":{"value":5466,"limit":1000000},"ppgeneratednodes":{"value":0,"limit":1000000},"postexpandincludesize":{"value":30267,"limit":2097152},"templateargumentsize":{"value":8425,"limit":2097152},"expansiondepth":{"value":6,"limit":40},"expensivefunctioncount":{"value":0,"limit":100},"unstrip-depth":{"value":0,"limit":20},"unstrip-size":{"value":8,"limit":5000000},"timingprofile":["100.00%   57.738      1 -total"," 42.39%   24.476    364 Template:V"," 10.47%    6.048    139 Template:Anchor","  8.70%    5.021      4 Template:Percentage"]},"cachereport":{"timestamp":"20210605171146","ttl":86400,"transientcontent":false}}});mw.config.set({"wgBackendResponseTime":226});});</script>
  </body>
</html>
